openapi: 3.1.0
info:
  title: Vue 3 Project Template API
  version: 1.0.0
servers:
  - url: http://localhost:5173
    description: Local development server
  - url: https://vue3.haint.dev
    description: Production server
paths:
  /login:
    post:
      tags:
        - auth
      summary: Login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: email
                password:
                  type: string
                  description: Password
              required:
                - email
                - password
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: JWT token
                  success:
                    type: boolean
                    description: Success flag
                  message:
                    type: string
                    description: Success message
                  status_code:
                    type: integer
                    description: HTTP status code
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message
                  error_code:
                    type: string
                    description: Error code
                  status_code:
                    type: integer
                    description: HTTP status code
                  success:
                    type: boolean
                    description: Success flag
